<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% for one_user in all_users %}
            <div class="row">
                <div class="col-3">
                    {{ one_user.username }}
                </div>
                <div class="col-3">
                    {{ one_user.first_name }}
                </div>
                <div class="col-3">
                    {{ one_user.created_by }}
                </div>
                <div class="col-3">
                    {{ one_user.role }}
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
		integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>